USE [master]
GO
/****** Объект:  Database [HotelRGPU]    Дата создания скрипта: 19.05.2026 10:02:24 ******/ 
CREATE DATABASE [HotelRGPU]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelRGPU', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\HotelRGPU.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelRGPU_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\HotelRGPU_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelRGPU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelRGPU]
GO
/****** Объект:  Table [dbo].[Номер]    Дата создания скрипта: 19.05.2026 10:02:24 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Номер](
	[ID_номера] [int] IDENTITY(1,1) NOT NULL,
	[Тип] [nvarchar](100) NOT NULL,
	[Вместимость] [int] NOT NULL,
	[Цена_за_сутки] [decimal](10, 2) NOT NULL,
	[Статус] [nvarchar](50) NULL,
	[Фото_URL] [nvarchar](255) NULL,
	[Площадь_м2] [decimal](5, 2) NULL,
	[Количество_кроватей] [int] NULL,
	[Количество_комнат] [int] NULL,
	[Вид_из_окна] [nvarchar](100) NULL,
	[Отопление] [nvarchar](50) NULL,
	[Кондиционер] [bit] NULL,
	[WiFi] [bit] NULL,
	[Телевизор] [bit] NULL,
	[Холодильник] [bit] NULL,
	[Фен] [bit] NULL,
	[Душ] [bit] NULL,
	[Ванна] [bit] NULL,
	[Удобства] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_номера] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  View [dbo].[Доступные_Номера]    Дата создания скрипта: 19.05.2026 10:02:24 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Представление 1: Доступные номера
CREATE VIEW [dbo].[Доступные_Номера] AS
SELECT * FROM Номер 
WHERE Статус = 'Свободен';
GO
/****** Объект:  Table [dbo].[Гость]    Дата создания скрипта: 19.05.2026 10:02:24 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Гость](
	[ID_гостя] [int] IDENTITY(1,1) NOT NULL,
	[ID_пользователя] [int] NULL,
	[ФИО] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Телефон] [nvarchar](20) NOT NULL,
	[Паспортные_данные] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_гостя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Бронирование]    Дата создания скрипта: 19.05.2026 10:02:24 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Бронирование](
	[ID_бронирования] [int] IDENTITY(1,1) NOT NULL,
	[ID_номера] [int] NOT NULL,
	[ID_гостя] [int] NOT NULL,
	[Дата_заезда] [date] NOT NULL,
	[Дата_выезда] [date] NOT NULL,
	[Количество_гостей] [int] NOT NULL,
	[Общая_цена] [decimal](10, 2) NOT NULL,
	[Статус] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_бронирования] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  View [dbo].[Сводка_Броней]    Дата создания скрипта: 19.05.2026 10:02:24 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Представление 2: Сводка по броням
CREATE VIEW [dbo].[Сводка_Броней] AS
SELECT 
    б.ID_бронирования, 
    г.Фамилия + ' ' + г.Имя AS Гость, 
    н.Тип AS Номер,
    б.Дата_заезда, 
    б.Дата_выезда, 
    б.Статус_брони
FROM Бронирование б
JOIN Гость г ON б.ID_гостя = г.ID_гостя
JOIN Номер н ON б.ID_номера = н.ID_номера;
GO
/****** Объект:  View [dbo].[Выручка_По_Месяцам]    Дата создания скрипта: 19.05.2026 10:02:24 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Представление 3: Выручка по месяцам
CREATE VIEW [dbo].[Выручка_По_Месяцам] AS
SELECT 
    MONTH(Дата_заезда) AS Месяц,
    YEAR(Дата_заезда) AS Год,
    SUM(Общая_цена) AS Общая_выручка
FROM Бронирование
WHERE Статус_брони = 'Подтверждено'
GROUP BY MONTH(Дата_заезда), YEAR(Дата_заезда);
GO
/****** Объект:  Table [dbo].[Заказ_Услуги]    Дата создания скрипта: 19.05.2026 10:02:24 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказ_Услуги](
	[ID_заказа] [int] IDENTITY(1,1) NOT NULL,
	[ID_бронирования] [int] NOT NULL,
	[ID_услуги] [int] NOT NULL,
	[Количество] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Отзыв]    Дата создания скрипта: 19.05.2026 10:02:24 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Отзыв](
	[ID_отзыва] [int] IDENTITY(1,1) NOT NULL,
	[ID_номера] [int] NOT NULL,
	[ID_гостя] [int] NOT NULL,
	[Оценка] [int] NULL,
	[Текст] [nvarchar](max) NULL,
	[Дата_создания] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_отзыва] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Платеж]    Дата создания скрипта: 19.05.2026 10:02:24 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Платеж](
	[ID_платежа] [int] IDENTITY(1,1) NOT NULL,
	[ID_бронирования] [int] NOT NULL,
	[Сумма] [decimal](10, 2) NOT NULL,
	[Дата_платежа] [date] NOT NULL,
	[Способ_оплаты] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_платежа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Пользователь]    Дата создания скрипта: 19.05.2026 10:02:24 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователь](
	[ID_пользователя] [int] IDENTITY(1,1) NOT NULL,
	[Имя] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Телефон] [nvarchar](20) NULL,
	[Пароль] [nvarchar](255) NOT NULL,
	[Роль] [nvarchar](50) NULL,
	[Дата_регистрации] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_пользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Услуга]    Дата создания скрипта: 19.05.2026 10:02:24 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуга](
	[ID_услуги] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](100) NOT NULL,
	[Описание] [nvarchar](max) NULL,
	[Цена] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_услуги] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Бронирование] ON 

INSERT [dbo].[Бронирование] ([ID_бронирования], [ID_номера], [ID_гостя], [Дата_заезда], [Дата_выезда], [Количество_гостей], [Общая_цена], [Статус]) VALUES (1, 1, 1, CAST(N'2026-06-01' AS Date), CAST(N'2026-06-03' AS Date), 1, CAST(5000.00 AS Decimal(10, 2)), N'Активно')
INSERT [dbo].[Бронирование] ([ID_бронирования], [ID_номера], [ID_гостя], [Дата_заезда], [Дата_выезда], [Количество_гостей], [Общая_цена], [Статус]) VALUES (2, 2, 2, CAST(N'2026-06-05' AS Date), CAST(N'2026-06-07' AS Date), 2, CAST(9000.00 AS Decimal(10, 2)), N'Активно')
INSERT [dbo].[Бронирование] ([ID_бронирования], [ID_номера], [ID_гостя], [Дата_заезда], [Дата_выезда], [Количество_гостей], [Общая_цена], [Статус]) VALUES (3, 3, 1, CAST(N'2026-06-10' AS Date), CAST(N'2026-06-12' AS Date), 3, CAST(13000.00 AS Decimal(10, 2)), N'Активно')
SET IDENTITY_INSERT [dbo].[Бронирование] OFF
GO
SET IDENTITY_INSERT [dbo].[Гость] ON 

INSERT [dbo].[Гость] ([ID_гостя], [ID_пользователя], [ФИО], [Email], [Телефон], [Паспортные_данные]) VALUES (1, 1, N'Тестовый Пользователь', N'test@example.com', N'+7 (999) 999-99-99', N'1234 567890')
INSERT [dbo].[Гость] ([ID_гостя], [ID_пользователя], [ФИО], [Email], [Телефон], [Паспортные_данные]) VALUES (2, 2, N'Админ', N'admin@hotel.ru', N'+7 (000) 000-00-00', N'0000 000000')
INSERT [dbo].[Гость] ([ID_гостя], [ID_пользователя], [ФИО], [Email], [Телефон], [Паспортные_данные]) VALUES (3, 3, N'Иванов Иван Иванович', N'ivan@mail.ru', N'+7 (888) 888-88-88', N'1234 567890')
SET IDENTITY_INSERT [dbo].[Гость] OFF
GO
SET IDENTITY_INSERT [dbo].[Номер] ON 

INSERT [dbo].[Номер] ([ID_номера], [Тип], [Вместимость], [Цена_за_сутки], [Статус], [Фото_URL], [Площадь_м2], [Количество_кроватей], [Количество_комнат], [Вид_из_окна], [Отопление], [Кондиционер], [WiFi], [Телевизор], [Холодильник], [Фен], [Душ], [Ванна], [Удобства]) VALUES (1, N'Обновлённый номер одноместный в блоке (II категории)', 1, CAST(2500.00 AS Decimal(10, 2)), N'Свободен', N'/num_1.jpg', CAST(13.00 AS Decimal(5, 2)), 1, 1, N'Двор', N'Центральное', 0, 1, 1, 1, 1, 1, 0, N'Мини-холодильник, Телевизор, Письменный стол, Душ, Фен')
INSERT [dbo].[Номер] ([ID_номера], [Тип], [Вместимость], [Цена_за_сутки], [Статус], [Фото_URL], [Площадь_м2], [Количество_кроватей], [Количество_комнат], [Вид_из_окна], [Отопление], [Кондиционер], [WiFi], [Телевизор], [Холодильник], [Фен], [Душ], [Ванна], [Удобства]) VALUES (2, N'Обновлённый номер двухместный стандарт (I категории)', 2, CAST(4500.00 AS Decimal(10, 2)), N'Свободен', N'/num_2.jpg', CAST(15.30 AS Decimal(5, 2)), 1, 1, N'Улица', N'Центральное', 0, 1, 1, 1, 1, 1, 0, N'Мини-холодильник, Телевизор, Письменный стол, Душ, Фен, Шкаф')
INSERT [dbo].[Номер] ([ID_номера], [Тип], [Вместимость], [Цена_за_сутки], [Статус], [Фото_URL], [Площадь_м2], [Количество_кроватей], [Количество_комнат], [Вид_из_окна], [Отопление], [Кондиционер], [WiFi], [Телевизор], [Холодильник], [Фен], [Душ], [Ванна], [Удобства]) VALUES (3, N'Обновлённый номер двухместный стандарт (I категории) + доп.место', 3, CAST(6500.00 AS Decimal(10, 2)), N'Свободен', N'/num_3.jpg', CAST(15.30 AS Decimal(5, 2)), 2, 1, N'Улица', N'Центральное', 0, 1, 1, 1, 1, 1, 0, N'Мини-холодильник, Телевизор, Письменный стол, Душ, Фен, Шкаф, Дополнительная кровать')
SET IDENTITY_INSERT [dbo].[Номер] OFF
GO
SET IDENTITY_INSERT [dbo].[Отзыв] ON 

INSERT [dbo].[Отзыв] ([ID_отзыва], [ID_номера], [ID_гостя], [Оценка], [Текст], [Дата_создания]) VALUES (1, 1, 1, 5, N'Очень уютная гостиница в самом центре! Номер чистый, персонал приветливый. Обязательно вернусь сюда снова.', CAST(N'2026-05-01' AS Date))
INSERT [dbo].[Отзыв] ([ID_отзыва], [ID_номера], [ID_гостя], [Оценка], [Текст], [Дата_создания]) VALUES (2, 2, 2, 5, N'Отличное место для проживания во время конференции. Завтраки вкусные, номера комфортные. Рекомендую!', CAST(N'2026-05-05' AS Date))
INSERT [dbo].[Отзыв] ([ID_отзыва], [ID_номера], [ID_гостя], [Оценка], [Текст], [Дата_создания]) VALUES (3, 3, 1, 4, N'Хорошая гостиница, расположение очень удобное. Единственный минус — немного шумно из-за центра, но это компенсируется видом.', CAST(N'2026-05-10' AS Date))
SET IDENTITY_INSERT [dbo].[Отзыв] OFF
GO
SET IDENTITY_INSERT [dbo].[Пользователь] ON 

INSERT [dbo].[Пользователь] ([ID_пользователя], [Имя], [Email], [Телефон], [Пароль], [Роль], [Дата_регистрации]) VALUES (1, N'Тестовый Пользователь', N'test@example.com', N'+7 (999) 999-99-99', N'123456', N'Гость', CAST(N'2026-05-19T08:17:12.630' AS DateTime))
INSERT [dbo].[Пользователь] ([ID_пользователя], [Имя], [Email], [Телефон], [Пароль], [Роль], [Дата_регистрации]) VALUES (2, N'Администратор', N'admin@hotel.ru', N'+7 (999) 999-99-99', N'admin123', N'Администратор', CAST(N'2026-05-19T08:34:46.457' AS DateTime))
INSERT [dbo].[Пользователь] ([ID_пользователя], [Имя], [Email], [Телефон], [Пароль], [Роль], [Дата_регистрации]) VALUES (3, N'Иванов Иван', N'ivan@mail.ru', N'+7 (888) 888-88-88', N'123456', N'Гость', CAST(N'2026-05-19T08:34:46.457' AS DateTime))
SET IDENTITY_INSERT [dbo].[Пользователь] OFF
GO
SET IDENTITY_INSERT [dbo].[Услуга] ON 

INSERT [dbo].[Услуга] ([ID_услуги], [Название], [Описание], [Цена]) VALUES (1, N'Ресторан & Кафе', N'Ежедневные завтраки «шведский стол», бизнес-ланчи и заказ ужинов в номер.', CAST(500.00 AS Decimal(10, 2)))
INSERT [dbo].[Услуга] ([ID_услуги], [Название], [Описание], [Цена]) VALUES (2, N'Фитнес-центр', N'Современный тренажёрный зал и йога-студия для гостей.', CAST(300.00 AS Decimal(10, 2)))
INSERT [dbo].[Услуга] ([ID_услуги], [Название], [Описание], [Цена]) VALUES (3, N'Конференц-зал', N'Оборудованные залы для семинаров, лекций и деловых встреч.', CAST(1000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Услуга] OFF
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Пользова__A9D10534578F558B]    Дата создания скрипта: 19.05.2026 10:02:24 ******/ 
ALTER TABLE [dbo].[Пользователь] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Бронирование] ADD  DEFAULT ('Активно') FOR [Статус]
GO
ALTER TABLE [dbo].[Номер] ADD  DEFAULT ('Свободен') FOR [Статус]
GO
ALTER TABLE [dbo].[Номер] ADD  DEFAULT ((1)) FOR [Количество_кроватей]
GO
ALTER TABLE [dbo].[Номер] ADD  DEFAULT ((1)) FOR [Количество_комнат]
GO
ALTER TABLE [dbo].[Номер] ADD  DEFAULT ('Центральное') FOR [Отопление]
GO
ALTER TABLE [dbo].[Номер] ADD  DEFAULT ((0)) FOR [Кондиционер]
GO
ALTER TABLE [dbo].[Номер] ADD  DEFAULT ((1)) FOR [WiFi]
GO
ALTER TABLE [dbo].[Номер] ADD  DEFAULT ((1)) FOR [Телевизор]
GO
ALTER TABLE [dbo].[Номер] ADD  DEFAULT ((1)) FOR [Холодильник]
GO
ALTER TABLE [dbo].[Номер] ADD  DEFAULT ((1)) FOR [Фен]
GO
ALTER TABLE [dbo].[Номер] ADD  DEFAULT ((1)) FOR [Душ]
GO
ALTER TABLE [dbo].[Номер] ADD  DEFAULT ((0)) FOR [Ванна]
GO
ALTER TABLE [dbo].[Отзыв] ADD  DEFAULT (getdate()) FOR [Дата_создания]
GO
ALTER TABLE [dbo].[Пользователь] ADD  DEFAULT ('Гость') FOR [Роль]
GO
ALTER TABLE [dbo].[Пользователь] ADD  DEFAULT (getdate()) FOR [Дата_регистрации]
GO
ALTER TABLE [dbo].[Бронирование]  WITH CHECK ADD  CONSTRAINT [FK_Бронирование_Гость] FOREIGN KEY([ID_гостя])
REFERENCES [dbo].[Гость] ([ID_гостя])
GO
ALTER TABLE [dbo].[Бронирование] CHECK CONSTRAINT [FK_Бронирование_Гость]
GO
ALTER TABLE [dbo].[Бронирование]  WITH CHECK ADD  CONSTRAINT [FK_Бронирование_Номер] FOREIGN KEY([ID_номера])
REFERENCES [dbo].[Номер] ([ID_номера])
GO
ALTER TABLE [dbo].[Бронирование] CHECK CONSTRAINT [FK_Бронирование_Номер]
GO
ALTER TABLE [dbo].[Гость]  WITH CHECK ADD  CONSTRAINT [FK_Гость_Пользователь] FOREIGN KEY([ID_пользователя])
REFERENCES [dbo].[Пользователь] ([ID_пользователя])
GO
ALTER TABLE [dbo].[Гость] CHECK CONSTRAINT [FK_Гость_Пользователь]
GO
ALTER TABLE [dbo].[Заказ_Услуги]  WITH CHECK ADD  CONSTRAINT [FK_Заказ_Услуги_Бронирование] FOREIGN KEY([ID_бронирования])
REFERENCES [dbo].[Бронирование] ([ID_бронирования])
GO
ALTER TABLE [dbo].[Заказ_Услуги] CHECK CONSTRAINT [FK_Заказ_Услуги_Бронирование]
GO
ALTER TABLE [dbo].[Заказ_Услуги]  WITH CHECK ADD  CONSTRAINT [FK_Заказ_Услуги_Услуга] FOREIGN KEY([ID_услуги])
REFERENCES [dbo].[Услуга] ([ID_услуги])
GO
ALTER TABLE [dbo].[Заказ_Услуги] CHECK CONSTRAINT [FK_Заказ_Услуги_Услуга]
GO
ALTER TABLE [dbo].[Отзыв]  WITH CHECK ADD  CONSTRAINT [FK_Отзыв_Гость] FOREIGN KEY([ID_гостя])
REFERENCES [dbo].[Гость] ([ID_гостя])
GO
ALTER TABLE [dbo].[Отзыв] CHECK CONSTRAINT [FK_Отзыв_Гость]
GO
ALTER TABLE [dbo].[Отзыв]  WITH CHECK ADD  CONSTRAINT [FK_Отзыв_Номер] FOREIGN KEY([ID_номера])
REFERENCES [dbo].[Номер] ([ID_номера])
GO
ALTER TABLE [dbo].[Отзыв] CHECK CONSTRAINT [FK_Отзыв_Номер]
GO
ALTER TABLE [dbo].[Платеж]  WITH CHECK ADD  CONSTRAINT [FK_Платеж_Бронирование] FOREIGN KEY([ID_бронирования])
REFERENCES [dbo].[Бронирование] ([ID_бронирования])
GO
ALTER TABLE [dbo].[Платеж] CHECK CONSTRAINT [FK_Платеж_Бронирование]
GO
ALTER TABLE [dbo].[Отзыв]  WITH CHECK ADD CHECK  (([Оценка]>=(1) AND [Оценка]<=(5)))
GO
/****** Объект:  StoredProcedure [dbo].[sp_ДобавитьУслугу]    Дата создания скрипта: 19.05.2026 10:02:24 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ДобавитьУслугу]
    @ID_бронирования INT,
    @ID_услуги INT,
    @Количество INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Бронирование WHERE ID_бронирования = @ID_бронирования)
    BEGIN
        RAISERROR('Бронирование не найдено.', 16, 1);
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM Услуга WHERE ID_услуги = @ID_услуги)
    BEGIN
        RAISERROR('Услуга не найдена.', 16, 1);
        RETURN;
    END

    INSERT INTO Заказ_Услуги (ID_бронирования, ID_услуги, Количество)
    VALUES (@ID_бронирования, @ID_услуги, @Количество);
END
GO
/****** Объект:  StoredProcedure [dbo].[sp_СоздатьПлатеж]    Дата создания скрипта: 19.05.2026 10:02:24 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_СоздатьПлатеж]
    @ID_бронирования INT,
    @Сумма DECIMAL(10,2),
    @Статус_платежа VARCHAR(20)
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Бронирование WHERE ID_бронирования = @ID_бронирования)
    BEGIN
        RAISERROR('Бронирование не найдено.', 16, 1);
        RETURN;
    END

    INSERT INTO Платеж (ID_бронирования, Дата_платежа, Сумма, Статус_платежа)
    VALUES (@ID_бронирования, GETDATE(), @Сумма, @Статус_платежа);
END
GO
/****** Объект:  StoredProcedure [dbo].[sp_СформироватьОтчет]    Дата создания скрипта: 19.05.2026 10:02:24 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_СформироватьОтчет]
    @Месяц INT,
    @Год INT
AS
BEGIN
    DECLARE @Сумма_выручки DECIMAL(10,2);

    SELECT @Сумма_выручки = SUM(Общая_цена)
    FROM Бронирование
    WHERE Статус_брони = 'Подтверждено'
        AND MONTH(Дата_заезда) = @Месяц
        AND YEAR(Дата_заезда) = @Год;

    INSERT INTO Отчет (ID_бронирования, Дата_отчета, Сумма_выручки, Статус_отчета)
    VALUES (NULL, GETDATE(), @Сумма_выручки, 'Завершен');
END
GO
USE [master]
GO
